.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 420px;
  height: 40px;
  background: #ffffff;
}

.input {
  border: none;
  width: 100%;
  height: 100%;

  text-indent: 10px;
  font-size: 14px;

  &:focus + .search_button {
    display: none;
  }
}

.search_button {
  position: absolute;
  top: 20%;
  right: 3%;

  & svg {
    opacity: 0.5;
  }
}
